.App {
    text-align: center;
}

.features-container {
    width: 100%;
}

.earthquake-list {
    margin-bottom: 10px;
}

.magnitude {
    color: red;
    display: inline-block;
    margin-right: 4px;
}

.place {
    color: green;
    display: inline-block;

}

.chart-container {
    width: 320px;
    height: 300px;
    margin: auto;
}

.select {
    margin-bottom: 10px;
}
